.table {
    display: table;
    border: 1px solid;
    margin: 10px;
    padding: 4px;
}

.d-table {
    display: table;
    border-collapse: collapse;
}

.d-tr {
    display: table-row;
}

.d-td {
    display: table-cell;
    text-align: left;
    border: 1px solid;
    padding: 4px;
}